body{
    margin:0;
    padding:0;
    background-color:rgb(255, 118, 68);
}
.container{
    display:inline-block;
    width:30%;
    height: 50vh;
    margin:auto auto 10% 35%;
    border:8px solid rgb(0, 200, 255);
    border-radius: 4px;
    box-shadow: 10px 10px 10px rgb(32, 31, 31);
    position: relative;
    background: url("4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.btn.left{
    position: absolute;
    left:-4%;
    top:50%; 
    background-color: aliceblue;
    font-size:25px;
    padding:.4rem .6rem;
    border-radius:50%;
    transform:translateY(calc(-50%));
    cursor: pointer;
}
.btn.right{
    position: absolute;
    right:-4%;
    top:50%;
    background-color: aliceblue;
    font-size:25px;
    padding:.4rem .6rem;
    border-radius:50%;
    transform:translateY(calc(-50%));
    cursor: pointer;
}
.btn.left:active{
    background-color: rgb(14, 95, 224);
    border:1px solid rgb(7, 7, 100);
}
.btn.right:active{
    background-color: rgb(14, 95, 224);
    border:1px solid rgb(7, 7, 100);
}
.joke{
    background-color: black;
    display:inline-block;
    position: relative;
    width:30%;
    height: 40vh;
    margin:auto auto 10% 35%;
    color: aliceblue;

}
.btn1{
    background-color: green;
    font-size: 30px;
    width: 300px;
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    bottom:4px;
    left:150px;
    color: aliceblue;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
p{
    text-align: center;
    font-size: 30px;
}
@media screen and (max-width: 650px) {
  .joke {
    width: 90%;
    font-size: 16px;
    padding: 15px;
  }

  .create_joke {
    font-size: 16px;
  }

  .btn1 {
    width: 50%;
    font-size: 16px;
  }
}
h2{
    color: cornsilk;
    text-align: center;
}
h3{
    text-align: center;
    font-size:30px;
    font-family:Arial, Helvetica, sans-serif;
}